<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>
    <link href="/assets/css/style.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.2/anchor.min.js"></script>
  </head>
  <body>
    <header>
      <a href="/">
        <svg height="2rem" viewBox="0 0 145 140" xmlns="http://www.w3.org/2000/svg"><title>Logo</title><path d="M70 10v130H50V20H0V0h70v10zm75 50v80h-20V70H90V50h55v10z" fill="#000" fill-rule="evenodd"/></svg>
        <span>Treehub Documentation</span>
      </a>
    </header>
    <main>
